{% extends "@EasyAdmin/page/content.html.twig" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="title-section text-center col-12 bg-light py-3">
            <h2 class="text-uppercase text-center">Bienvenue sur l'interface adminstrateur</h2>
        </div>
        <div class="col-4 border m-5 p-5 bg-primary ">
            <a href="{{path('app_home')}}" class="text-center"><h2 class="text-white"><i class="fa fa-home"></i> Retourner sur le site</h1></a>
        </div>
    </div>
</div>



{% endblock %}