{% extends "base.html.twig" %}
{% block title %}Opération réussi{% endblock %}
{% block body %}
<div class="container alert alert-success mt-3">
        <div class="card-deck">
            <div class="col-md-12 mt-5">
                <div class="card h-100">
                    <h1 class="card-img-top text-center text-primary"><u>Opération Réussi</u></h1>
                    <div class="card-body">
                        <p>Merci Pour votre Confiance Renouveller</p>
                        <p>Notre service de livraison vous contactera d'ici peu pour les modalités de payement</p>
                        <p>Votre Commande a bien été reçu</p>
                        <p>Si Vous avez un problème dans la procédure de livraison</p>
                        <p>Contactez nous au +237 682464056</p>
                        <p>Si vous avez des remarques contectez nous via l'onglet contact dans les liens rapide</p>
                        <p>Vous pouvez prendre conseil chez l'un de nos médécin en cliquant sur <small>Le bouton whatsapp à l'accueil</small></p>
                    </div>
                    
                </div>
            </div>
  
        </div>
   
    </div>
{% endblock %}