{% extends "base.html.twig" %}
{% block title %}Opération échec{% endblock %}
{% block body %}
<div class="container alert alert-danger mt-3">
        <div class="card-deck">
            <div class="col-md-12 mt-5">
                <div class="card h-100">
                    <h1 class="card-img-top text-center text-primary"><u>Echec du Payement</u></h1>
                    <div class="card-body">
                        <p>Merci Pour votre Confiance Renouveller</p>
                        <p>Verifier si vos informations sont correct</p>
                        <p>Votre Commande a bien été reçu mais vos informations sont incorrect néamoins vous serez conctez pour un éventuel payement à la livraison</p>
                        <p>Si Vous avez un problème dans la procédure de Vérification</p>
                        <p>Contactez nous au +237 682464056</p>
                        <p>Si vous avez des remarques contectez nous via l'onglet contact dans les liens rapide</p>
                        <p>Vous pouvez prendre conseil chez l'un de nos médécin en cliquant sur <small>Le bouton whatsapp à l'accueil</small></p>
                    </div>
                    
                </div>
            </div>
  
        </div>
   
    </div>
{% endblock %}